@import "tailwindcss";

/* src/index.css */
:root {
  --primary-color: #FF385C;
  --primary-color-hover: #ff385dcf;
  --secondary-color: #F6475F;
  --gray-color: #D3D3D3;
  --main-border : #DDDDDD ; 
  ----strong-gray-rgb:#7e7d7d  ; 
  --text-size: 16px;
  --input-border :#B0B0B0 ;
}
